body {
    background: #a9c0b0;
    color: #b31c20;
    margin: 0 auto;
}

li {
    padding: 5px;
    margin: 5px;
    background: #f4e1c1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

.container-fluid {
    background: #a9c0b0;
    color: #b31c20;
    font-family: 'Sriracha', cursive;
    text-align: center;
    height: 100vh;
    padding-top: 25px;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: yellow;
}

.form-group {
    margin-bottom: 5px;
}


/* Sticky Footer */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* line-height: 60px; */
    background-color: #f4e1c1;
}

.footer>.container {
    margin-top: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.text-muted {
    color: #b31c20!important;
}