body {
    background: #a9c0b0;
    color: #b31c20;
    margin: 0 auto;
}

li {
    padding: 5px;
    margin: 5px;
    background: #f4e1c1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

.container-fluid {
    background: #a9c0b0;
    color: #b31c20;
    font-family: 'Seymour One', sans-serif;
    text-align: center;
    height: 100vh;
    padding-top: 25px;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: yellow;
}

.form-group {
    margin-bottom: 5px;
}


/* Sticky Footer */


/* Footer */

.footer {
    position: fixed;
    padding: 0.8rem;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    z-index: 1;
}

.text-muted {
    color: #b31c20!important;
}